<!-- new itinerary form -->
<div class="container content-page">
	<div class="row">
		<div class="col-sm-7">
			<h1>Add an Itinerary</h1>
			<form id="new-itinerary-form" ng-submit="addItinerary()" novalidate>
				<div class="form-group row">
					<div class="input-group">
						<select class="form-control">
							<option selected>Choose a Destination for this Itinerary</option>
							<option ng-repeat="destination in destinations" value="{{ destination.id }}">{{ destination.name }}</option>
						</select>
						<span class="input-group-btn"><div class="btn btn-default" ng-click="showActForm=true">ENTER</div></span>
					</div>
				</div>
				<ng-include src="'activities/_act-new.html'" ng-show="showActForm"></ng-include>
				<button class="btn btn-default" ng-show="showActForm">ADD MORE ACTIVITIES</button>
				<div class="form-group">
					<label for="itin-tag">Tags and Keywords</label>
					<input type="text" class="form-control" id="itin-tag" placeholder="Ex. 'outdoors', 'kid-friendly', 'late-night'" ng-model="tags" ng-required="true" />
				</div>
				<button type="submit" class="btn btn-default">CREATE ITINERARY</button>
			</form>
		</div>
	</div>
</div>