<!-- new itinerary form -->
<div class="container content-page" ng-controller="ItinerariesCtrl">
	<div class="row">
		<div class="col-sm-7">
			<h1>Add an Itinerary</h1>
			<form ng-submit="addItinerary()" novalidate>
				<label for="dest-input">Create Itinerary For:</label>
				<!-- <select class="form-control c-select" ng-repeat="destination in destinations">
					<option selected>Select a Destination</option>
					<option value="{{ destination.name }}">{{ destination.name }}</option>
				</select> -->
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Destination City, Country" ng-model="destination.name" autofocus required />
					<span class="input-group-btn"><button class="btn btn-default" ng-click="showActForm=true">ENTER</button></span>
				</div>
				<ng-include src="'activities/_act-new.html'" ng-show="showActForm"></ng-include>
				<button class="btn btn-default" ng-show="showActForm">ADD MORE ACTIVITIES</button>
				<div class="form-group">
					<label for="itin-tag">Tags and Keywords</label>
					<input type="text" class="form-control" id="itin-tag" placeholder="Ex. 'outdoors', 'kid-friendly', 'late-night'" ng-model="tags" required />
				</div>
				<button type="submit" class="btn btn-default">CREATE ITINERARY</button>
			</form>
		</div>
	</div>
</div>