<!DOCTYPE html>
<html lang="en" ng-app="WanderList">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Oxygen:700,400' rel='stylesheet' type='text/css'>
	<!-- angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="app.js"></script>
	<title>WanderList</title>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">wanderlist</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sign Up</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In</a>
						<ul class="dropdown-menu">
							<li><a href="#">Edit Profile</a></li>
							<li><a href="#">Create Itinerary</a></li>
							<li><a href="#">View Itinerary History</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Log Out</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<ui-view></ui-view>

	<!-- homepage (invisible destinations index) -->
	<script type="text/ng-template" id="/home.html">
		<div class="container container-table" id="home-photo">
			<div class="row vertical-center-row">
				<div class="text-center">
					<h1 id="splash-title">WANDERLIST</h1>
					<h2 id="tagline">Discover something out of the ordinary.</h2>
					<form ng-submit="addDestination()">
						<h3 id="destination-form-label">Where are you going today?</h3>
						<div class="form-group">
							<input type="text" placeholder="City, Country" ng-model="name"></input>
						<button type="submit">SEARCH</button>
						</div>
						<div ng-repeat="destination in destinations">
							<a href="#/destinations/{{$index}}">{{ destination.name }}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</script>

	<!-- destination show page / itineraries index -->
	<script type="text/ng-template" id="/destinations.html">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>{{ destination.name }}</h1>
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search Itineraries">
						</div>
						<button type="submit">SEARCH</button>
					</form>
					<div class="col-sm-4">
						<a href="">
							<div class="thumbnail">
								<img src="/lake-como.jpg" alt="...">
								<div class="caption">
									<h3>Highlight Activity</h3>
									<h4>Tags: </h4> <p>some tags</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div id="map-itineraries">
					</div>
				</div>
			</div>
		</div>
	</script>
</body>
</html>